# .coveragerc to control coverage.py
[run]
branch = True
source = 
    ./
omit =
    */env/*
    */migrations/*
    manage.py
    *wsgi*
    *test*
    */middlewares.py
    */settings.py
    */pipelines.py

[html]
directory = htmlcov