

label.selectionValue {
    padding : 1px;
}

div.select-container {
    width:100%;
    margin: 10px 0 10px 0;
}

div.detail-sub-category {
    padding-left:10px;
    
    margin: 10px;
}

input.color-selection-input-box {
    visibility:hidden;
}

label.color-selection-chip {
    width: 30px;
    height:30px;
    border-radius: 60%;
    opacity:100%;
}

div.sub-color-visual {
    margin:5px 0 10px 0;
}

div.detail-sub-category > h4 {
    
    margin:0px;
    padding: 20px 0 10px 0;
    border-top:1px solid rgba(128,0,128,0.7);
    
}

div.Search div.detail-category {
    padding : 5px 0 15px 0;
}

div.Search > div.Content > div.Category.fixed > div.detail-category {
    overflow:scroll;
}