li.LipContainer {
    width: 250px;
    float: left;
}

li.color-chip {
    float:left;
}

a.productItem{
    color:black;
    text-decoration:none;
    display:block;
}

section.info_text {
    height : 16px;
}
section.info_text, section.color {
    margin: 10px 0 10px 0;
}

section.Lip_name.info_text {
    height:25px;
}

span.color-chip {
    width:24px;
    height:24px;
    border-radius: 30%;
    display:inline-block;
    margin:0 2px 0 2px;
}
section.color {
    display:inline-flex;
    height:35px;
    -ms-overflow-style: none;
    overflow-y:scroll;
}

section.color::-webkit-scrollbar {
    display: none;
  }

.react-tooltip-lite {
    background: #333;
    color: white;
    text-align:center;
    padding:5px;
    border-radius:8px;
  }
  
.react-tooltip-lite-arrow {
    border-color: #333;
  }

.react-tooltip-lite-arrow .react-tooltip-lite-left-arrow {
    display:none;
}