

body {
    background-color : rgb(248, 236, 248);
}
.Signin {
    width : 80%;
    position:absolute;
    left:50%;
    top:50%;
    height : 300px;
    width : 400px;
    margin: -150px 0px 0px -200px;
    box-shadow: 0 2px 3px rgb(231, 201, 235);
    text-align : center;
    background : rgb(255, 220, 226);
}

.Signin label {
    display : block;
    margin : 10px auto;
    text-align : center;
    font-weight : bold;
}
.Signin input#email-input {
    display : block;
    width : 80%;
    box-sizing: border-box;
    outline : none;
    font : inderit;
    margin : auto;
}

.Signin input#pw-input {
    display : block;
    width : 80%;
    box-sizing: border-box;
    outline : none;
    font : inderit;
    margin : auto;
}

.Signin button {
    margin : 20px 0;
    padding: 10px;
    font : inherit;
    border : 1px solid #9b45a7;
    background-color : transparent;
    color : #9b45a7;
    cursor : pointer;
}

.Signin button:hover,
.Signin button:active {
    color:white;
    background-color:#9b45a7;
}