
.upperbar {
    flex: 1;
    flex-direction:row;
    align-items:stretch;
    width:100%;
    background-color:rgb(255, 220, 226);
    text-align : center;
    display : table;
    
}

.upperbar .buttons #back-to-menu-button{
    display: inline-table;
    position: absolute;
    left : 2%;
    top : 2%;
    width:50px;
    height: 50px;
}
ul{
    list-style: none;
    padding-left:0px;
    padding-bottom: 0px;
    margin:0px;

}
.upperbar .buttons #log-out-button{
    display: inline-table;
    position: absolute;
    right : 10%;
    top : 2%;
}

.upperbar .buttons #my-page-button{
    display: inline-table;
    position: absolute;
    right:4%;
    top:2%;
}
.Budget_input {
    display: table;
    align-content: center;
}
.Budget_input input{
    margin-left : 20px;
}
.Budget_input .input1 {
    display: inline-table;
    margin:20px;
}
.Budget_input .input2 {
    display: inline-table;
    margin: 20px;
}
.BudgetSearch button {
    margin : 10px 0;
    padding: 5px;
    font : inherit;
    border : 1px solid #9b45a7;
    background-color : transparent;
    color : #9b45a7;
    cursor : pointer;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.BudgetSearch button:hover,
.BudgetSearch button:active {
    color:white;
    background-color:#9b45a7;
}