@font-face{
    font-family:YACHE;
    src: url('../fonts/야놀자_야체_Bold.ttf');
}
body {
    background-color :white;
    font-family: YACHE, serif;
}
.LogInBox {
    width : 80%;
    position:absolute;
    left:50%;
    top:50%;
    height : 300px;
    width : 400px;
    margin: -150px 0px 0px -200px;
    box-shadow: 0 2px 3px rgb(231, 201, 235);
    text-align : center;
    background : rgb(255, 220, 226);
}
.logo{
    position:absolute;
    left:50%;
    top:20%;
    height: 100px;
    width:100px;
    margin: -50px 0px 0px -50px;
}
.LogInBox label {
    display : block;
    margin : 10px auto;
    text-align : center;
    font-weight : bold;
}
.LogInBox input#email-input {
    display : block;
    width : 80%;
    box-sizing: border-box;
    outline : none;
    font : inherit;
    margin : auto;
}

.LogInBox input#pw-input {
    display : block;
    width : 80%;
    box-sizing: border-box;
    outline : none;
    font : inherit;
    margin : auto;
}

.LogInBox button {
    margin : 20px 0;
    padding: 10px;
    font : inherit;
    border : 1px solid #9b45a7;
    background-color : transparent;
    color : #9b45a7;
    cursor : pointer;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.LogInBox button:hover,
.LogInBox button:active {
    color:white;
    background-color:#9b45a7;
}