
.main_upperbar {
    flex: 1;
    flex-direction:row;
    align-items:stretch;
    width:100%;
    background-color:rgb(255, 220, 226);
    text-align : center;
    display : table;
    
}
.main_upperbar #logo{
    padding: 2px;
}

.main_upperbar .buttons #log-out-button{
    display: inline-table;
    position: absolute;
    left : 2%;
    top : 3%;
}

.main_upperbar .buttons #my-page-button{
    display: inline-table;
    position: absolute;
    right:2%;
    top:3%;
}
.MainPage .buttons{
    align-content: center;
}
.Menu {
    position:absolute;
    left:50%;
    top:50%;
    height : 300px;
    width : 400px;
    margin: -150px 0px 0px -200px;
    box-shadow: 0 2px 3px rgb(231, 201, 235);
    text-align : center;
    background : rgb(255, 220, 226);
}
ul{
    list-style: none;
    padding-left:0px;
    padding-bottom: 0px;
    margin:0px;
}


.MainPage button {
    background-color : transparent;
    color : #9b45a7;
    cursor : pointer;
    border : 1px solid #9b45a7;
    text-align: center;
    margin : 5px;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
  
.MainPage button:hover,
.MainPage button:active {
    color:white;
    background-color:#9b45a7;
}
