

div.MyPage .Menu1,
div.MyPage .Menu2 {
    display:table-cell;
    box-shadow: 0 2px 3px rgb(231, 201, 235);
    text-align : center;
}

div.Mypage .Menu1{
    padding-top:0px;
}

div.Content > div.Menu1 > div > div:nth-child(6) {
    padding: 40px 0 40px 0;
}

div.Menu2 > div.selection_list {
    text-indent:10%;
}

div.MyPage ul{
    list-style: none;
    padding-left:0px;
    padding-bottom: 0px;
    margin:0px;
}


div.MyPage > div.Content {
    display:table;
    margin:auto;
    margin-top:160px;
    width:60%;
    table-layout:fixed;
    }


div.Menu2 > div.selection_list > div.info_change > div.info_select_box,
div.Menu2 > div.selection_list > div.info_change > div.info_multi_select_box{
    display:inline-block !important;
    width:150px;
    padding-left:10px;
}
div.Content > div.Menu2 > div.selection_list > div:nth-child(1) > div {
    padding-left:20px;

}

div.Content > div.Menu2 > div.button {
    margin: 0 25px 0 25px;
    border-top:1px solid #9a60bc;
}
div.Content > div.Menu2 > div.button > button#modify-button{
    
        color: #9a60bc !important;
        text-transform: uppercase;
        text-decoration: none;
        padding: 20px;
        display: inline-block;
        border: none;
        transition: all 0.4s ease 0s;
        font-size:20px;
}

div.Menu2 > div.selection_list > div.info_change > div.info_multi_select_box > div > button {
    width:150px;
}
div.Menu2 > div.selection_list > div.info_change > div.info_multi_select_box > div {
    text-indent:0;
}
div.Menu2 > div.selection_list > div.info_change {
    display:block;
    text-align:left;
    padding-top:20px;
}


div.MyPage h1 {
    margin:auto;
    padding-bottom:15px;
}

div.Menu2 > div.selection_list {
    margin-bottom:30px;
}

div.MyPage  div.info > div.info_text {
    padding: 10px 0 10px 0;
    text-align:left;
    text-indent:20%;
}


