.SalesInfo{
    text-align : center;
    align-content: center;
    height: 100%;
    width:100%
}

.SalesInfo .Calendar {
    padding: 10px;
    text-align : center;
}

.upperbar {
    flex: 1;
    flex-direction:row;
    align-items:stretch;
    width:100%;
    background-color:rgb(255, 220, 226);
    text-align : center;
    display : table;
    
}

.upperbar .buttons #back-button{
    display: inline-table;
    position: absolute;
    left : 2%;
    top: 0%;
    align-content: center;
    border:none;
}
#arrow{
    width:50px;
    height: 40px;
}

.upperbar .buttons #log-out-button{
    display: inline-table;
    position: absolute;
    right : 10%;
    top : 2%;
}

.upperbar .buttons #my-page-button{
    display: inline-table;
    position: absolute;
    right:4%;
    top:2%;
}

.buttons button {
    margin : 10px 0;
    padding: 5px;
    font : inherit;
    border : 1px solid #9b45a7;
    background-color : transparent;
    color : #9b45a7;
    cursor : pointer;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.buttons button:hover,
.buttons button:active {
    color:white;
    background-color:#9b45a7;
}