
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    height: 75px;
    padding: 1rem;
    color: white;
    opacity: 0.8;
    background: black;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.search {
    color: white;
    font-size: 40px; 
    text-decoration: none;
    padding-bottom: 5px;
    padding-left: 30px;
}
a.sel_side {
    color: rgb(245, 168, 228);
    font-size: 30px;
    text-decoration: none;
}
a.side {
    color: white;
    font-size: 30px;
    text-decoration: none; 
}

.headerMenu a:hover,r
.headerMenu a:active {
    text-decoration: underline;
}
.upperbar {
    flex: 1;
    flex-direction:row;
    align-items:stretch;
    width:100%;
    background-color:rgb(255, 220, 226);
    text-align : center;
    display : table;
    padding-bottom:20px;
  
}

.upperbar .buttons #back-button{
    display: inline-table;
    position: absolute;
    left : 2%;
    top: 0%;
    align-content: center;
    border:none;
}
#arrow{
    width:50px;
    height: 40px;
}
.upperbar .buttons #log-out-button{
    display: inline-table;
    position: absolute;
    right : 10%;
    top : 2%;
    width: 10%;
}

.upperbar .buttons #my-page-button{
    display: inline-table;
    position: absolute;
    right:4%;
    top:2%;
    width: 10%;
}

li.ProductContainer {
    display:table-cell;
}

ul.Category  {
    /* display: inline-block; */
    padding: 10px 0 10px 0;
    margin-bottom: 5px;
    border: 1px solid #efefef;
    font-size: 12px;
    cursor: pointer;
    width:100%;
    display:table;
    table-layout: fixed;

}

ul.Category > div {
    display:table-cell;
    text-align:center;
}

.Menubar {
    width:100%;
    background-color:rgb(255, 220, 226);
    display : table;
    table-layout: fixed;
    
}

.Menubar > div {
    display:table-cell;
    border-left: 3px solid rgb(255, 220, 226);
    background-color:rgba(256,256,256,0.2);
    vertical-align: middle; 
    text-align: center;
}

.headerButton button {
    margin : 10px 10px;
    padding: 10px;
    font : inherit;
    background-color : transparent;
    color : white;
    cursor : pointer;
    border: 1px solid #efefef;
}
.headerButton button:hover,
.headerButton button:active {
    color:black;
    background-color:white;
}

div.Content {
   display:table;
   text-align: left; 
   table-layout: fixed;
   width:100%;
   padding-top: 540px;
}
div.ResultDiv {
    display:table-cell;
    width: 75%;

}
ul.Result {
    display:table;
}

div.Category {
    display:table-cell;
    vertical-align: top;
    width:24%;
}

.slide-container {
    padding-top: 115px;
    height: 100px;
    z-index: 1;
}

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 600px;
    margin: auto;
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }
  
  .each-fade {
    display: flex;
  }
  
  .each-fade .image-container {
    width: 50%;
    overflow: hidden;
  }
  
  .each-fade .image-container img {
    width: 100%;
  }
  
  .each-fade h2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
  }

