
.upperbar {
    flex: 1;
    flex-direction:row;
    align-items:stretch;
    width:100%;
    background-color:rgb(255, 220, 226);
    text-align : center;
    display : table;
    padding-bottom:20px;
    
}

.upperbar .buttons #back-button{
    display: inline-table;
    position: absolute;
    left : 2%;
    top: 0%;
    align-content: center;
    border:none;
}
#arrow{
    width:50px;
    height: 40px;
}
.upperbar .buttons #log-out-button{
    display: inline-table;
    position: absolute;
    right : 10%;
    top : 2%;
}

.upperbar .buttons #my-page-button{
    display: inline-table;
    position: absolute;
    right:4%;
    top:2%;
}

li.ProductContainer {
    display:table-cell;
}

ul.Category  {
    /* display: inline-block; */
    padding: 10px 0 10px 0;
    margin-bottom: 5px;
    border: 1px solid #efefef;
    font-size: 12px;
    cursor: pointer;
    width:100%;
    display:table;
    table-layout: fixed;
}

ul.Category > div {
    display:table-cell;
    text-align:center;
}

.Menubar {
    width:100%;
    background-color:rgb(255, 220, 226);
    display : table;
    table-layout: fixed;
    
}

.Menubar > div {
    display:table-cell;
    border-left: 3px solid rgb(255, 220, 226);
    background-color:rgba(256,256,256,0.2);
    vertical-align: middle; 
    text-align: center;
}

.Menubar button {
    margin : 10px 0;
    padding: 5px;
    font : inherit;
    border : 1px solid #9b45a7;
    background-color : transparent;
    color : #9b45a7;
    cursor : pointer;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border:none;
}

div.Content {
    display:table;
   text-align: left; 
   table-layout: fixed;
   width:100%;
}
div.ResultDiv {
    display:table-cell;
    padding-top:50px;
}
ul.Result {
    display:table;
}

div.Category {
    display:table-cell;
    vertical-align: top;
    width:25%;
}

