body {
    background-color : white;
}

.Signup .logo{
    position:absolute;
    left:50%;
    top:20%;
    height: 100px;
    width:100px;
    margin: -50px 0px 0px -50px;
}
.SignupBox {
    position:absolute;
    left:50%;
    top:50%;
    height : 300px;
    width : 400px;
    margin: -150px 0px 0px -200px;
    box-shadow: 0 2px 3px rgb(231, 201, 235);
    text-align : center;
    background : rgb(255, 220, 226);
}

.SignupBox label {
    display : block;
    margin : 10px auto;
    text-align : center;
    font-weight : bold;
}
.SignupBox input#username-input {
    display : block;
    width : 80%;
    box-sizing: border-box;
    outline : none;
    font : inherit;
    margin : auto;
}

.SignupBox input#email-input {
    display : block;
    width : 80%;
    box-sizing: border-box;
    outline : none;
    font : inherit;
    margin : auto;
}

.SignupBox input#pw-input {
    display : block;
    width : 80%;
    box-sizing: border-box;
    outline : none;
    font : inherit;
    margin : auto;
}

.SignupBox button {
    margin : 20px 0;
    font : inherit;
    border : 1px solid #9b45a7;
    background-color : transparent;
    color : #9b45a7;
    cursor : pointer;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.SignupBox button:hover,
.SignupBox button:active {
    color:white;
    background-color:#9b45a7;
}

.SignupBox input#nickname-input {
    display : block;
    width : 80%;
    box-sizing: border-box;
    outline : none;
    font : inherit;
    margin : auto;
}

div.MuiPaper-root.MuiPaper-elevation6.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-8.MuiGrid-grid-md-6 > h1,
div.MuiPaper-root.MuiPaper-elevation6.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-8.MuiGrid-grid-md-6 > h2 {
    text-align:center;
}