
.upperbar {
  flex: 1;
  flex-direction:row;
  align-items:stretch;
  width:100%;
  background-color:rgb(255, 220, 226);
  text-align : center;
  display : table;
  /* margin-bottom: 30px; */
  
}

#arrow{
  width:50px;
  height: 40px;
}


.SkinTone button {
    margin : 10px 0;
    padding: 5px;
    font : inherit;
    background-color : transparent;
    color : black;
    cursor : pointer;
    border-color:#9b45a7;
}
.SkinTone .StartButton button:hover,
.SkinTone .StartButton button:active {
    color:white;
    background-color:#9b45a7;
}

.SkinTone .image_preview button:hover,
.SkinTone .image_preview button:active {
    color:white;
    background-color:#9b45a7;
}
.image_input{
    margin:auto;
    padding:30px;
}
.SkinTone .image_preview input{
  border-bottom: 1px solid rgb(245, 168, 228);
  border-right: 1px solid rgb(245, 168, 228);
  border-top: 1px solid rgb(245, 168, 228);
  border-left: 1px solid rgb(245, 168, 228);
  padding: 10px;
  margin: 15px;
  cursor: pointer;
}

div.SkinTone div.Content {
  text-align:center;
}
.image_preview{
  margin-bottom: 10px;
  height: 200px;
  width: 500px;
  width : 100%;
  display:table;
  text-align:-webkit-center;
}

.image_preview > img {
  width: 40%;
  display:table-cell;
}