
.upperbar {
  flex: 1;
  flex-direction:row;
  align-items:stretch;
  width:100%;
  background-color:rgb(255, 220, 226);
  text-align : center;
  display : table;
  margin-bottom: 30px;
  
}

.upperbar .buttons #back-to-menu-button{
  display: inline-table;
  position: absolute;
  left : 2%;
  top : 2%;
  width: 50px;
  height: 50px;
}

.upperbar .buttons #log-out-button{
  display: inline-table;
  position: absolute;
  right : 10%;
  top : 2%;
}

.upperbar .buttons #my-page-button{
  display: inline-table;
  position: absolute;
  right:4%;
  top:2%;
}

.SkinTone button {
    margin : 10px 0;
    padding: 5px;
    font : inherit;
    border : 1px solid #9b45a7;
    background-color : transparent;
    color : #9b45a7;
    cursor : pointer;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.SkinTone button:hover,
.SkinTone button:active {
    color:white;
    background-color:#9b45a7;
}
.image_input{
  position:absolute;
  left:50%;
  top:50%;
  height : 300px;
  width : 400px;
  margin: -150px 0px 0px -200px;
}
.SkinTone .image_preview input{
  border-bottom: 1px solid #9b45a7;
  border-right: 1px solid #9b45a7;
  border-top: 1px solid #9b45a7;
  border-left: 1px solid #9b45a7;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
}
.image_preview{
  margin-bottom: 10px;
  text-align: center;
  height: 200px;
  width: 500px;
  width : 100%;
  height:100%
}