.SkinTone h1{
    flex: 1;
    flex-direction:row;
    align-items:stretch;
    width:100%;
    height : 50px;
    background-color:white;
    text-align : center;
}
.SkinTone button {
    margin : 10px 0;
    padding: 5px;
    font : inherit;
    border : 1px solid #9b45a7;
    background-color : transparent;
    color : #9b45a7;
    cursor : pointer;
}

.SkinTone button:hover,
.SkinTone button:active {
    color:white;
    background-color:#9b45a7;
}

.SkinTone input{
  border-bottom: 1px solid #9b45a7;
  border-right: 1px solid #9b45a7;
  border-top: 1px solid #9b45a7;
  border-left: 1px solid #9b45a7;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
}
.image_preview{
  text-align: center;
  margin: 5px 15px;
  height: 200px;
  width: 500px;
  width : 100%;
  height:100%
}