.LoadingBox {
    position:absolute;
    left:50%;
    top:50%;
    height : 300px;
    width : 400px;
    margin: -150px 0px 0px -200px;
    box-shadow: 0 2px 3px rgb(231, 201, 235);
    text-align : center;
    background : rgb(255, 220, 226);
}

.Loader {
    position: absolute;
    width: 150px;
    height:200px;
    left:50%;
    top:50%;
    margin : -10px 0px 0px -75px;
}